.q-btn{
	text-transform: initial;
	font-weight: 400;
}

.btn-outline-default{
	border: solid 1px #b3b3b5;
}

// app global css in SCSS form
.text-muted{
  color: #7b7b7b;
}
.bg-muted{
  background: #7b7b7b;
}
.text-light {
  color: #f5f5f5;
}
.bg-light {
  background: #f5f5f5;
}
.tab-footer .q-tab__label {
	font-weight: 400;
	font-size: 12px;
}
.title-1{
	font-size: 20px;
}